# wkhtmltopdf Lambda Layer Requirements
# This layer provides wkhtmltopdf binary for PDF generation in Lambda environment

# Note: This layer should contain the wkhtmltopdf binary compiled for Amazon Linux 2
# The binary should be placed in the bin/ directory of the layer
# No Python packages are needed for this layer as it only provides the binary

# To build this layer:
# 1. Download wkhtmltopdf binary for Amazon Linux 2
# 2. Place in lambda/layers/wkhtmltopdf/bin/wkhtmltopdf
# 3. Make executable: chmod +x bin/wkhtmltopdf
# 4. CDK will package this as a Lambda layer
